
    body{
        margin: 0;   
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    }
 .header {
    background-color: rgba(114, 173, 74, 0.959);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
 }   
 .logo {
    width: 100px;
    color: rgba(114, 173, 74, 0.959);
    }
 .header-links a {
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;

 }
 .header-links a:hover{
    background-color: rgba(7, 85, 4, 0.959);
 } 
 .btn {
   background-color: rgba(185, 47, 42, 0.959);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
 }
 .btn:hover{
   background-color: rgb(75, 18, 8);
}
 


 .header-links button {
    background-color: rgba(185, 47, 42, 0.959);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
 }
 .header-links button:hover{
    background-color: rgb(75, 18, 8);
 }

.landing-page{
    background-color: rgba(114, 173, 74, 0.959);
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
    color: white;
    border-radius: 0 0 50px 50px;

}
.search input {
   border: none;
   outline: none;
   border-radius: 50px;
   padding: 0 10px;
   flex-grow: 1;
   margin-right: 5px;
   height: 30px;
}
.search button {
   position: absolute;
   left: 200px;
   height: 30px;
}
.landing-page-image-container{
   border-radius: 20px;
   width: 200px;

}
